/* Estilos CSS */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

header {
  background-color: #333;
  padding: 20px;
  color: #fff;
  text-align: center;
}

h1 {
  margin: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
}

p {
  line-height: 1.5;
  text-align: center;
}

.quem_somos, .nossa_equipe , .contato{
  border: 1px solid black;
  margin: 20px;
  border-radius: 10px;
}

h2 {
  text-decoration: overline;
}